hr {
  border-color: #71c9ce;
  border-style: dotted none none none;
  border-width: 5px;
  width: 75px
}

body {
  background-color: #cbf1f5;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
